###**Reg No - GO_STP_11828**

####**Name - Srikant Kumar Maharana**

###**Assignment 5**

1.Load the IMDb Dataset and read

In [4]:
files.upload()

NameError: ignored

# New Section

In [5]:
import pandas as pd
movie= pd.read_csv("IMDB-Movie-Data.csv")
import numpy as np

2.View the dataset

In [6]:
movie.head()

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0

[5 rows x 12 columns]

3.Understand some basic information about the dataset and Inspect the 
dataframe's columns, shapes, variable types etc.

In [7]:
movie.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [8]:
movie.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [9]:
movie.axes

[RangeIndex(start=0, stop=1000, step=1),
 Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
        'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
        'Metascore'],
       dtype='object')]

In [10]:
movie.describe

<bound method NDFrame.describe of      Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]>

4.Data Selection – Indexing and Slicing data

In [11]:
movie_year=movie['Rating']
movie_year

0      8.1
1      7.0
2      7.3
3      7.2
4      6.2
      ...
995    6.2
996    5.5
997    6.2
998    5.6
999    5.3
Name: Rating, Length: 1000, dtype: float64

5.Data Selection – Based on Conditional

In [12]:
top=movie[["Title","Director"]][movie["Rating"]==movie["Rating"].max()]
top.head()

              Title           Director
54  The Dark Knight  Christopher Nolan

6.Groupby operations

In [14]:
directors=movie.groupby("Director")["Rating"].mean().reset_index()
directors.sort_values("Rating", ascending=False)

                             Director  Rating
465                     Nitesh Tiwari    8.80
108                 Christopher Nolan    8.68
392                    Makoto Shinkai    8.60
470                   Olivier Nakache    8.60
194  Florian Henckel von Donnersmarck    8.50
..                                ...     ...
435                    Micheal Bafaro    3.50
329                 Jonathan Holbrook    3.20
274                        James Wong    2.70
566                     Shawn Burkett    2.70
277                   Jason Friedberg    1.90

[644 rows x 2 columns]

7.Sorting operation

In [21]:
top_rated = movie.sort_values(["Rating","Metascore"], ascending=False)
top_rated.head(n=15)

     Rank                  Title  ... Revenue (Millions) Metascore
54     55        The Dark Knight  ...             533.32      82.0
80     81              Inception  ...             292.57      74.0
117   118                 Dangal  ...              11.15       NaN
96     97          Kimi no na wa  ...               4.68      79.0
36     37           Interstellar  ...             187.99      74.0
249   250       The Intouchables  ...              13.18      57.0
476   477    The Lives of Others  ...              11.28      89.0
133   134               Whiplash  ...              13.09      88.0
99    100           The Departed  ...             132.37      85.0
124   125  The Dark Knight Rises  ...             448.13      78.0
64     65           The Prestige  ...              53.08      66.0
991   992       Taare Zameen Par  ...               1.20      42.0
144   145       Django Unchained  ...             162.80      81.0
861   862         Koe no katachi  ...                NaN      80.0
430   431               3 Idiots  ...               6.52      67.0

[15 rows x 12 columns]

8.Dealing with missing values

In [22]:
movie.isna().any()

Rank                  False
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)     True
Metascore              True
dtype: bool

In [23]:
print(movie.isna().sum())

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

9.Dropping columns and null values

In [24]:
imdb_cleaned = movie.dropna()
imdb_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 838 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                838 non-null    int64
 1   Title               838 non-null    object
 2   Genre               838 non-null    object
 3   Description         838 non-null    object
 4   Director            838 non-null    object
 5   Actors              838 non-null    object
 6   Year                838 non-null    int64
 7   Runtime (Minutes)   838 non-null    int64
 8   Rating              838 non-null    float64
 9   Votes               838 non-null    int64
 10  Revenue (Millions)  838 non-null    float64
 11  Metascore           838 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 85.1+ KB